{% extends "base.html" %}

{% block content %}

	<h1>{{ title }}</h1>
	<div class="content">
		<form action="/signup" method="post">
			<label for="username">Create Username:</label>	
			<input type="text" name="username" value="{{ username }}">
			<span class="error">{{ username_error }}</span>

			<label for="password">Password:</label>	
			<input type="password" name="password" value="{{ password }}">
			<span class="error">{{ password_error }}</span>

			<label for="verify">Verify Password:</label>	
			<input type="password" name="verify">
			<span class="error">{{ verify_error }}</span>

			<input type="submit" value="Sign Up">
			<span class="error">{{ existing_user_error }}</span>
			
		</form>
	</div>

{% endblock %}

